@tailwind base;
@tailwind components;
@tailwind utilities;


/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Change the background color of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #111827;
  }

  .blinking-cursor {
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
